NEXT_PUBLIC_SITE_URL=https://uxpress.example
NEXT_PUBLIC_LEMON_SQUEEZY_BUSINESS_COACH_URL=LEMON_SQUEEZY_BUSINESS_COACH_URL
NEXT_PUBLIC_LEMON_SQUEEZY_EXECUTIVE_CONSULTANT_URL=LEMON_SQUEEZY_EXECUTIVE_CONSULTANT_URL
NEXT_PUBLIC_LEMON_SQUEEZY_PERSONAL_BRAND_URL=LEMON_SQUEEZY_PERSONAL_BRAND_URL
NEXT_PUBLIC_TALLY_INSTALLATION_FORM_URL=TALLY_INSTALLATION_FORM_URL
CONTACT_FORM_ENDPOINT=CONTACT_FORM_ENDPOINT

